.header-container {
  display: flex;
  position: relative;
  justify-content: center;
}

.header-buttons-cont {
  position: absolute;
  right: 10px;
  top: 10px;
}

.active {
  background-color: green
}

.create-item-form-cont {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.open-close {
  width: 23px;
  border-radius: 10px;
  text-align: center;
}

.open {
  display: block;
}

.closed {
  display: none;
}
