.header-container {
  display: flex;
  position: relative;
  justify-content: center;
}

.header-buttons-cont {
  position: absolute;
  right: 10px;
  top: 10px;
}

.active {
  background-color: green
}
